/* Comfortaa - font family

#f0932b - olovrang
#7ed6df - och kok
#ff7979 - 0ch qizil
#badc58 - yashil */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

.nav-item:active {
    background-color: rgb(0,0,0, .3);
    color: #ff4d4d;
}

body {
    font-family: 'Comfortaa', cursive;
}
.visually-hidden {
    position: absolute !important;
    clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
    clip: rect(1px, 1px, 1px, 1px);
    padding:0 !important;
    border: 0 !important;
    height: 1px !important;
    overflow: hidden;
}
.bc-orange {
    background-color: #f0932b;
}
.bc-light-blue {
    background-color: #7ed6df;
}
.bc-light-red {
    background-color: #ff7979;
}
.bc-green {
    background-color: #badc58;
}
.bc-orange:hover {
    background-color: rgba(240, 147, 43, .5);
}
.bc-light-blue:hover {
    background-color: rgba(126, 214, 223, .5);
}
.bc-light-red:hover {
    background-color: rgba(255, 121, 121, .5);
}
.bc-green:hover {
    background-color: rgba(186, 220, 88, .5);
}
header {
    background-image: url("./images/chef-icon.png");
    background-repeat: no-repeat;
    padding: 90px 0;
    background-position: center;
    text-align: center;
}

.company-name {
    font-size: 60px;
}
.slogan {
    font-weight: 600;
}

nav {
    width: 80%;
    margin: 50px auto;
    border-top: 1px solid rgb(0,0,0, .3);
    border-bottom: 1px solid rgb(0,0,0, .3);
    text-align: center;
}
.nav-item {
    display: inline-block;
    text-decoration: none;
}
.nav-link {
    display: inline-block;
    padding: 20px 40px;
    text-decoration: none;
    text-transform: uppercase;
    transition: background-color 1s;
}
.nav-link:hover {
    background-color: rgb(0,0,0, .3);
}
.nav-link:active {
    background-color: rgb(0,0,0, .3);
    color: #ff4d4d;
}
.main {
    text-align: center;
}
.recipes-list {
    text-align: left;
    width: 80%;
    margin: 0 auto;
}
.recipe-item {
    width: 30%;
    margin: 10px 2.2%;
    margin-bottom: 20px;
    display: inline-block;
}
.recipe-item:nth-child(1),
.recipe-item:nth-child(4) {
    margin-left: 0;
}
.recipe-item:nth-child(3),
.recipe-item:nth-child(6) {
    margin-right: 0;
}

.recipe-img {
    width: 100%;
    height: 220px;
    object-fit: cover;
}
.recipe-category {
    color: white;
    text-decoration: none;
    display: inline-block;
    padding: 5px 10px;
    margin: 10px 0;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;
}
.recipe-title-link {
    text-decoration: none;
    text-transform: uppercase;
    color: black;
    font-size: 12px;
    font-weight: bold;
    margin-top: 15px 0;
    display: inline-block;
    transition: color 1s;
}
.recipe-title-link:hover {
    color: #ff7979;
}
.all-recipes {
    color: #ff7979;
    border: 2px solid #ff7979;
    text-decoration: none;
    display: inline-block;
    padding: 15px 30px;
    font-weight: 600;
    transition: color, background-color 1s;
    margin: 40px 0;
}
.all-recipes:hover {
    color: white;
    background-color: #ff7979;
}
form {
    background-image: url(./images/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: -50px;
    padding: 100px 0;
    text-align: center;
}
.email-input {
    padding: 10px 20px;
    width: 400px;
    border: none;
    margin-right: 20px;
}
.email-submit {
    background-color: #ff4d4d;
    color: white;
    border: none;
    padding: 10px 20px;
    font-weight: bold;
}
.subscribe-text {
    color: white;
    margin-top: 50px;
}

@media only screen and (max-width:800px) {
    /* For tablets: */
    .recipe-item {
        width: 280px;
        margin: 0;
        justify-content: space-between;
        /* padding: 20px; */
        align-items: center;
    }
}

@media only screen and (max-width:400px) {
    /* For mobile phones */
    .recipe-item {
        width: 320px;
        margin-top: 10px;
    }
    form {
        background-image: none;
        padding: auto;
    }
    .email-input {
        border: 1px solid black;
        width: 80%;
        margin-bottom: 20px;
    }

    .subscribe-text {
        color: black;
        width: 80%;
        text-align: center;
        margin: 20px auto;
    }
}